@import '~bootstrap/scss/bootstrap';

.title_container{
    height: 200px;
    background-image: url(../img/movie-roll.png);
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    .title{
        height: 50px;
        width: 300px;
        background-color: white;
        box-shadow: 1px 1px 5px gray;
    }
}


nav{
    box-shadow: 1px 1px 5px gray;
}


.my_btn{

        border: none;
        border-radius: 20px;
   
        padding: 10px 20px;
        background-color: orange;
        
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
        }
    
}